*{
  box-sizing: border-box;
  color: #333;
}
body{
  background: #ccc;
  margin: 0;
  padding: 0;
  text-align: center;
}
.content{
  margin: 50px auto;
  padding: 10px;
  width: 800px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
  display: block;
}

a{
  text-decoration: none;
  color: #333;
}

.no-display{
  display: none;
}

.wrap-itens{
  margin-bottom: 10px;
}
.item {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border: solid 1px #ababab;
}
.titles{
  font-weight: bold;
}
.subitem {
  padding: 5px;
  text-align: center;
}
.wrap-itens h3{
  text-align: center;
  margin: 0 auto 10px;
}
.wrap-buttons{
  text-align: center;
}

.wrap-buttons a{
  margin: 0 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}